
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.content-class
{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.section-container
{
    background-color: rgb(6, 6, 24);
    margin-left: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}
.section-details
{
    text-align: start;
    padding: 5px;
}
.btn-cart h6
{
    text-align: left;
}
.btn-one
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: none;
    background-color: orange;
}